exclude __pycache__/*
exclude *.py[cod]
exclude *.so
exclude .Python
exclude build/
exclude develop-eggs/
exclude dist/
exclude downloads/
exclude eggs/
exclude .eggs/
exclude lib/
exclude lib64/
exclude parts/
exclude sdist/
exclude var/
exclude wheels/
exclude *.egg-info/
exclude .installed.cfg
exclude *.egg
exclude MANIFEST
exclude *.manifest
exclude *.spec
exclude pip-log.txt
exclude pip-delete-this-directory.txt
exclude htmlcov/
exclude .tox/
exclude .nox/
exclude .coverage
exclude .coverage.*
exclude .cache
exclude nosetests.xml
exclude coverage.xml
exclude *.cover
exclude *.py,cover
exclude .hypothesis/
exclude .pytest_cache/
exclude *.mo
exclude *.pot
exclude *.log
exclude local_settings.py
exclude db.sqlite3
exclude instance/
exclude .webassets-cache
exclude .scrapy
exclude docs/_build/
exclude target/
exclude .ipynb_checkpoints
exclude profile_default/
exclude ipython_config.py
exclude .python-version
exclude Pipfile.lock
exclude __pypackages__/
exclude celerybeat-schedule
exclude celerybeat.pid
exclude *.sage.py
exclude .env
exclude .venv
exclude env/
exclude venv/
exclude venv-lib/
exclude venv-ser/
exclude ENV/
exclude env.bak/
exclude venv.bak/
exclude .spyderproject
exclude .spyproject
exclude .ropeproject
exclude /site
exclude .mypy_cache/
exclude .dmypy.json
exclude dmypy.json
exclude .pyre/
exclude .pytype/
exclude cython_debug/
exclude .vscode/
exclude main.py
exclude server.py
exclude example.py
prune venv*
prune .pypirc
